/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General body styling */
body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    padding-top: 30px; /* Space for title */
    padding-bottom: 60px; /* Space for bottom navigation bar */
}

/* Header styling */
h1 {
    background: #fff;
    padding: 20px 0;
    color: #333;
    margin-bottom: 20px; /* Space below the title */
}

h2 {
    padding-left: 60px;
}

/* Navigation Bar */
.nav_bar {
    list-style-type: none;
    background-color: #939499;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    z-index: 10; /* High z-index to ensure nav bar is above other content */
}

/* Fixed Navigation Bar */
.nav_bar.fixed {
    position: fixed;
    top: 0;
    left: 0;
}

.nav_bar li {
    display: inline;
    margin-right: 20px;
}

.nav_bar button {
    background: none;
    border: none;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
}

.nav_bar .active {
    background-color: #04AA6D;
}

/* Upload Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Styles for the cancel button */
#cancelUpload {
    /* Your styles here, e.g., colors, padding, borders, etc. */
    background-color: #f44336; /* Red background for cancel */
    color: white; /* White text */
    padding: 10px 15px; /* Some padding */
    border: none; /* No border */
    cursor: pointer; /* Cursor to pointer */
    border-radius: 4px; /* Rounded corners */
    margin-right: 10px; /* Margin to the right */
}

#cancelUpload:hover {
    background-color: #d32f2f; /* Darker shade when hovered */
}

/* Styles for the upload button */
#buttonUpload {
    /* Your styles here, e.g., colors, padding, borders, etc. */
    background-color: #4CAF50; /* Green background for upload */
    color: white; /* White text */
    padding: 10px 15px; /* Some padding */
    border: none; /* No border */
    cursor: pointer; /* Cursor to pointer */
    border-radius: 4px; /* Rounded corners */
}

#buttonUpload:hover {
    background-color: #388E3C; /* Darker shade when hovered */
}

/* Information Box */
.information-box {
    background-color: #f3f3f3;
    padding: 20px;
    margin-top: 20px;
    font-size: 0.9em;
    text-align: center;
}

/* Image Gallery */
.image-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Adjust '200px' to the min width of each image */
    gap: 20px; /* Adjust the gap between images if necessary */
    justify-items: center; /* Center items in the grid */
    align-items: center; /* Align items vertically */
    padding: 20px; /* Padding around the gallery */
}

/* Individual Image Items */
.image-grid-item {
    position: relative; /* For absolute positioning of children */
    width: 200px; /* Set a fixed width for the images */
    height: auto; /* Keep the height auto to maintain aspect ratio */
    margin: 0 auto; /* Center if grid column width is larger than image width */
}

/* Styling for Images Within Grid Items */
.image-grid-item img {
    width: 100%; /* Make image fill the width of the container */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Remove extra space below image */
}

/* Down Button Style */
.image-grid-item .toggle-context {
    position: absolute; /* Position relative to the image-grid-item */
    bottom: 5px; /* 5px from the bottom */
    right: 5px; /* 5px from the right */
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    color: white; /* White color for the arrow icon */
    border: none; /* No border */
    padding: 5px; /* Padding around the arrow icon */
    cursor: pointer; /* Pointer cursor on hover */
}

/* Bottom Navigation Bar */
.bottom-nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #939499;
    z-index: 1000;
}

.bottom-nav ul {
    list-style-type: none;
    text-align: center;
    padding: 10px 0;
}

.bottom-nav li {
    display: inline;
    margin-right: 20px;
}

.bottom-nav button {
    background: none;
    border: none;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

.bottom-nav button:hover {
    background-color: #04AA6D;
}

/* Upload Image Button */
#openModalButton {
    background-color: #04AA6D;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

#openModalButton:hover {
    background-color: #037d56;
}

/* Additional styles for responsiveness */
@media (max-width: 768px) {
    .image-gallery {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .image-gallery {
        grid-template-columns: 1fr;
    }

    .nav_bar li, .bottom-nav li {
        display: block;
        margin-bottom: 10px;
    }

    .nav_bar button, .bottom-nav button {
        display: block;
        width: 100%;
    }
}

/* Image Context Button Clicked */
.image-grid-item.enlarged {
    grid-column: span 3; /* Or however many columns you want it to span */
    transition: transform 0.3s ease;
  }
  
  .image-grid-item.enlarged img {
    width: 100%; /* Adjust if you want to set a specific width */
    height: auto; /* Maintain aspect ratio */
  }